body {
  width: max400px;
  font-family: "Julius Sans One", sans-serif;
  text-shadow: 3px 3px 4px #253541;
}

header {
  max-width: max200px;
  display: block;
  padding: 0px;
}
main {
  color: #f8f9fa;
}
input {
  display: inline-block;
}
button {
  display: inline-block;
  vertical-align: middle;
  align-items: flex-start;
  text-shadow: 3px 3px 4px;
  transition: all 0.5s ease-in-out;
}
button:hover {
  background-color: #fae2e0;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
h1 {
  font-size: 60px;
  display: inline-block;
}
h2 {
  font-size: 120px;
  display: inline-block;
}
main li {
  font-size: 15px;
}

.card {
  width: max200px;
  border-radius: 40px;
  border: none;
  margin-top: 10px;
  background-color: transparent;
}
.crd {
  background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);
}
.c-f {
  font-size: 30px;
}
.glass {
  text-shadow: 3px 3px 4px;
}
.reference {
  color: #f8f9fa;
  font-size: 5px;
  text-align: center;
  text-shadow: none;
}
